body{
    background-color: #C8A2C8;
    color: #FFF; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
  }

  .center {
    margin: auto;
    padding: 5px;
    color: yellow;
    text-decoration: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .button-center{
    margin: 25%; 
    
  }
  
  .child {
    position: absolute;
    top: 20%;
    left: 50%;
    margin: 200px 0 0 -25px; /* apply negative top and left margins to truly center the element */
  }

  .button-start{
    width: 100px;
    height: 50px;
    font-size: 15pt;
    background-color: yellow;
    font-weight: bold;
    border-radius: 10px 5%; 
    border: none;

  }

  table {
    position: absolute;
    top: 20%;
    left: 50%;
  }

  .result-display{
    border: solid 2px yellow;
    font-size: 20pt;
    font-weight: bold;
  }  

  
  table, td, tr{
    border: solid 2px yellow;
    color:black;
    font-size: 20pt;
    font-weight: bold;
  }

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }